<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <title>weather app</title>
    </head>

    <body>
        <div class="main-content">
             {{>header}}
            
            <form>
                <input placeholder="location">
                <button>search</button>
            </form>
        </div>
       
        {{>footer}}

        <script src="/js/weather.js"></script>
    </body>
</html>